<!-- <a th:fragment="paging(pageNum, label, tooltip,pageSize)" class="page-link"
  th:href="@{'/admin/productPagination?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'pageNumber=' + ${pageNum} + '&size=' + ${pageSize}}"
  th:title="${tooltip}" rel="tooltip">
  [[${label}]]
</a> -->
<a th:fragment="paging(pageNum, label, tooltip)" class="page-link"
  th:href="@{'/admin/products?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'pageNumber=' + ${pageNum} + '&size=' + ${pageSize}}"
  th:title="${tooltip}" rel="tooltip">
  [[${label}]]
</a>