<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
  </head>
  <body>
    <h1>Login</h1>

    <div>
      With GitHub: <a href="/oauth2/authorization/github">click here</a>
    </div>
      <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 space-bottom">Or search for a book</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <div th:insert="components/book-search :: search-panel"></div>
      </div>
    </div>
  </body>
</html>
